In [39]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [40]:
df = pd.read_csv('MFG10YearTerminationData.csv')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB

In [42]:
df.groupby('city_name')['city_name'].count()

city_name
Abbotsford            681
Aldergrove            520
Bella Bella           126
Blue River              9
Burnaby              2067
Chilliwack           1167
Cortes Island          43
Cranbrook            1785
Dawson Creek          129
Dease Lake             18
Fort Nelson           322
Fort St John          621
Grand Forks           236
Haney                 182
Kamloops             2061
Kelowna              2513
Langley               901
Nanaimo              3876
Nelson                317
New Westminister      254
New Westminster      3211
North Vancouver       648
Ocean Falls            65
Pitt Meadows           57
Port Coquitlam        545
Prince George        2048
Princeton             136
Quesnel               703
Richmond             1401
Squamish              806
Surrey               1560
Terrace              1228
Trail                 925
Valemount              37
Vancouver           11211
Vernon                898
Victoria             4885
West Vancouver        613
White Rock            231
Williams Lake         617
Name: city_name, dtype: int64

In [43]:
df.groupby('department_name')['department_name'].count()

department_name
Accounting                   59
Accounts Payable             34
Accounts Receiveable         39
Audit                        24
Bakery                     8381
Compensation                 24
Customer Service           7122
Dairy                      8599
Employee Records             44
Executive                   100
HR Technology                64
Information Technology       20
Investment                   24
Labor Relations              34
Legal                        17
Meats                     10269
Processed Foods            5911
Produce                    8515
Recruitment                  72
Store Management            271
Training                     30
Name: department_name, dtype: int64

In [44]:
df.groupby('job_title')['job_title'].count()

job_title
Accounting Clerk                     50
Accounts Payable Clerk               25
Accounts Receiveable Clerk           30
Auditor                              20
Baker                              8096
Bakery Manager                      285
Benefits Admin                       35
CEO                                  10
CHief Information Officer            10
Cashier                            6816
Compensation Analyst                 20
Corporate Lawyer                     17
Customer Service Manager            306
Dairy Manager                         9
Dairy Person                       8590
Director, Accounting                  9
Director, Accounts Payable            9
Director, Accounts Receivable         9
Director, Audit                       4
Director, Compensation                4
Director, Employee Records            9
Director, HR Technology               9
Director, Investments                 4
Director, Labor Relations             4
Director, Recruitment                10
Director, Training                    4
Exec Assistant, Finance              10
Exec Assistant, Human Resources      10
Exec Assistant, Legal Counsel        10
Exec Assistant, VP Stores            10
HRIS Analyst                         55
Investment Analyst                   20
Labor Relations Analyst              30
Legal Counsel                        10
Meat Cutter                        9984
Meats Manager                       285
Processed Foods Manager             289
Produce Clerk                      8237
Produce Manager                     278
Recruiter                            62
Shelf Stocker                      5622
Store Manager                       271
Systems Analyst                      20
Trainer                              26
VP Finance                           10
VP Human Resources                   10
VP Stores                            10
Name: job_title, dtype: int64

In [51]:
def change_name(x): 
    if 'Director,' in x: 
        x = 'Director'
        return x
    elif 'Exec Assistant,'in x:
        x = 'Executive Assistant'
        return x
    elif x == 'CHief Information Officer':
        x = 'Chief Information Officer'
        return x
    elif 'VP'in x:
        x = 'VP'
        return x
    else: 
        x = x
        return x

df['job_mod'] = df['job_title'].apply(lambda x: change_name(x))

In [52]:
df.groupby('job_mod')['job_mod'].count()

job_mod
Accounting Clerk                50
Accounts Payable Clerk          25
Accounts Receiveable Clerk      30
Auditor                         20
Baker                         8096
Bakery Manager                 285
Benefits Admin                  35
CEO                             10
Cashier                       6816
Chief Information Officer       10
Compensation Analyst            20
Corporate Lawyer                17
Customer Service Manager       306
Dairy Manager                    9
Dairy Person                  8590
Director                        75
Executive Assistant             40
HRIS Analyst                    55
Investment Analyst              20
Labor Relations Analyst         30
Legal Counsel                   10
Meat Cutter                   9984
Meats Manager                  285
Processed Foods Manager        289
Produce Clerk                 8237
Produce Manager                278
Recruiter                       62
Shelf Stocker                 5622
Store Manager                  271
Systems Analyst                 20
Trainer                         26
VP                              30
Name: job_mod, dtype: int64

In [53]:
df.groupby('city_name').count()